@import "breakpoints";

/*! Section one kontents */
.section-one {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .main-header {
    color: black;
  }
  .line {
    background: black;
  }
}
