/*! Importi */
@import "css/footer";
@import "css/wrapper";
@import "css/main";
@import "css/travolta";
@import "css/navbar";
@import "css/header";
@import "css/section-one";
@import "css/section-two";
@import "css/section-three";
@import "css/breakpoints";
@import "css/keyframes";

// Fonti
@import "css/fonti/fonti";

/*! Vispārīgie settingi */
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  user-select: none;
}

/*! Section kopējais css */
.section-one,
.section-two,
.section-three {
  width: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: PantonBoldLower;
  font-size: 10px;
  .grid-item {
    display: flex;
    .description {
      margin: 15px;
      font-size: 15px;
      text-align: justify;
      @include respond-to("medium") {
        font-size: 10px;
        margin: 30px;
      }
      @include respond-to("average") {
        font-size: 13px;
        margin: 20px;
      }
      @include respond-to("large") {
        font-size: 16px;
        margin: 30px;
      }
    }
  }
}

.filler {
  color: green;
  font-size: 16px;
  @include respond-to("medium") {
    font-size: 18px;
  }
  @include respond-to("average") {
    font-size: 19px;
  }
  @include respond-to("large") {
    font-size: 20px;
  }
}
.description {
  margin: 15px;
  font-size: 15px;
  @include respond-to("medium") {
    font-size: 16px;
    margin: 30px;
  }
  @include respond-to("average") {
    font-size: 18px;
    margin: 20px;
  }
  @include respond-to("large") {
    font-size: 19px;
    margin: 30px;
  }
}
